.project {
    *:not(.project__title) {
        font-family: "Roboto Condensed";
    }

    .container-fs {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @media (max-width: $breakpoint-767) {
            gap: 30px;
        }
    }

    &__title {
        font-size: 38.94px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        width: 100%;
        max-width: 1030px;
        text-transform: uppercase;

        @media (max-width: $breakpoint-767) {
            font-size: 24px;
            line-height: normal;
            padding: 0 20px;
        }
    }

    &__start {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 38px;

        @media (max-width: $breakpoint-767) {
            gap: 24px;
            margin-top: 10px;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        padding-bottom: 69.16px;

        .swiper {
            overflow: hidden;
            height: 886px;

            @media (max-width: 1300px) {
                height: 500px;
            }

            @media (max-width: $breakpoint-767) {
                height: 250px;
            }
        }

        .swiper-slide {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            width: 100%;
            padding: 0 30px;

            @media (max-width: $breakpoint-767) {
                gap: 5px;
                padding: 0 10px;
            }

            .swiper {
                height: max-content;
            }

            .swiper-slide {
                width: 220px;
                height: 138px;

                @media (max-width: 1300px) {
                    width: calc(220px - 60px);
                    height: calc(138px - 40px);
                }

                @media (max-width: $breakpoint-767) {
                    width: calc(220px - 140px);
                    height: 80px;
                }

                @media (max-width: 550px) {
                    width: calc(220px - 140px);
                    height: 50px;
                }
            }

            .rcatalog__nav-item {
                transform: scale(0.4) translateY(calc(-50% - 55px)) translateX(-40px);
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='65' height='65' rx='32.5' fill='%2340C574'/%3e%3cpath d='M24.0146 32.5002H40.9852M40.9852 32.5002L34.6213 26.1362M40.9852 32.5002L34.6213 38.8642' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
                transition: 0.3s;

                &:hover {
                    filter: brightness(0.95);
                }

                &:active {
                    filter: brightness(0.9);
                }

                &.item--prev {
                    transform: scale(0.4) translateY(calc(-50% - 55px)) rotate(-180deg) translateX(-40px);
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                outline: 4px solid #00000000;
                transition: 0.4s;

                @media (max-width: 1300px) {
                    outline-width: 3px;
                }

                @media (max-width: $breakpoint-767) {
                    outline-width: 2px;
                }

                &:not(.item--active) {
                    cursor: pointer;
                    transform: scale(0.94);
                }

                &.item--active {
                    outline-color: #40C574;
                    transform: scale(0.97);
                }
            }
        }
    }

    &__chr {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        background-color: #F9F9F9;

        @media (max-width: 1300px) {
            grid-template-columns: 70% 30%;
        }

        @media (max-width: $breakpoint-767) {
            display: flex;
            flex-direction: column;
            background-color: var(--color-white);
        }

        &-image {
            width: 100%;
            height: 588px;

            @media (max-width: 1300px) {
                order: 1;
            }

            @media (max-width: $breakpoint-767) {
                height: 120px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 35.84px;
            padding: 48px 80px;

            @media (max-width: 1300px) {
                padding: 40px;
            }

            @media (max-width: $breakpoint-767) {
                padding: 0 15px 30px;
                gap: 20px;
            }
        }

        &-group {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &-title {
            font-size: 34px;
            font-weight: 700;
            line-height: 51px;
            text-transform: uppercase;

            @media (max-width: $breakpoint-767) {
                font-size: 24px;
                line-height: normal;
            }
        }

        &-text {
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            color: #40C574;
            width: 100%;
            max-width: 330px;

            @media (max-width: $breakpoint-767) {
                font-weight: 500;
                font-size: 18px;
                max-width: 100%;
                line-height: normal;
            }
        }

        &-info {
            display: flex;
            gap: 21px;

            @media (max-width: $breakpoint-767) {
                flex-wrap: wrap;
            }

            &-item {
                display: flex;
                flex-direction: column;
                gap: 15px;

                @media (max-width: $breakpoint-767) {
                    gap: 5px;
                }

                &-name {
                    font-family: Lato !important;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;

                    @media (max-width: $breakpoint-767) {
                        font-size: 12.5px;
                        line-height: normal;
                    }
                }

                &-text {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 24px;

                    @media (max-width: $breakpoint-767) {
                        font-size: 16px;
                        line-height: normal;
                        gap: 6px;
                    }

                    img {
                        width: 26px;
                        height: 26px;

                        @media (max-width: $breakpoint-767) {
                            width: 19px;
                            height: 19px;
                        }
                    }
                }

                &-price {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 28px;
                }
            }
        }

        &-pane {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 29px;
            background-color: var(--color-white);
            border: 1px dashed #40C574;
            border-radius: 10px;
            width: max-content;
            gap: 39px;

            @media (max-width: $breakpoint-767) {
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;
                padding: 15px;
                width: 100%;
            }

            &-text {
                font-family: Lato !important;
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;

                @media (max-width: $breakpoint-767) {
                    font-size: 13px;
                    line-height: normal;
                }
            }

            &-price {
                font-size: 28px;
                font-weight: 700;
                line-height: 28px;
                color: #40C574;
            }

            &-col {
                display: flex;
                flex-direction: column;
                gap: 5.16px;

                @media (min-width: $breakpoint-767) {
                    &:not(:nth-last-child(1)) {
                        border-right: 1px solid #2D2D2D14;
                        padding-right: 17px;
                    }
                }

                .filter-sort {
                    margin: 0;
                    border-color: #EFEFEF;
                    background-color: #EFEFEF;

                    &::after {
                        filter: invert(61%) sepia(88%) saturate(326%) hue-rotate(91deg) brightness(91%) contrast(86%);
                    }

                    .filter-sort__active {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;

                        @media (max-width: $breakpoint-767) {
                            font-size: 18px;
                            line-height: normal;
                        }
                    }

                    .filter-sort__nav {
                        transform: translateY(5px);
                    }
                }
            }
        }

        &-data {
            font-family: Lato !important;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            width: 100%;
            max-width: 454.56px;

            @media (max-width: $breakpoint-767) {
                font-size: 15px;
                line-height: normal;
            }
        }

        button.button {
            width: max-content;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            padding: 0 52px;
            height: auto;
            margin-top: 6px;

            &:active {
                opacity: 0.7;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 42px;

        @media (max-width: 1300px) {
            gap: 24px;
        }

        &.item-mini {
            gap: 24px;

            .project__item-title {
                font-size: 28px;
                font-weight: 600;
                line-height: 24px;
                text-transform: none;
                text-align: left;
            }
        }

        &-title {
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 34px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 51px;
            z-index: 10;

            @media (max-width: 1300px) {
                font-size: 24px;
                line-height: normal;
            }
        }
    }

    &__plan {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 1100px) {
            flex-direction: column;
            gap: 15px;
        }

        img {
            width: 100%;
            max-width: 659px;
            height: 700px;
            object-fit: cover;

            @media (min-width: 1100px) {
                margin: -100px 0;
            }

            @media (max-width: 1100px) {
                max-width: 100%;
                height: 300px;
            }

            @media (max-width: $breakpoint-767) {
                height: 300px;
            }
        }
    }

    &__complect {
        display: grid;
        grid-template-columns: repeat(3, calc(100% / 3 - 5px));
        gap: 5px;

        @media (max-width: $breakpoint-767) {
            display: flex;
            gap: 10px;
            overflow-x: auto;
        }

        &-item {
            padding: 30px;
            border-radius: 15px;
            border: 1px dashed #40C574;
            transition: 0.3s;

            @media (max-width: $breakpoint-767) {
                min-width: 250px;
            }

            &:not(.item--active) {
                cursor: pointer;
            }

            @media (max-width: $breakpoint-767) {
                padding: 15px;
            }

            &.item--active {
                background-color: #40C574;

                * {
                    color: var(--color-white);
                }

                .project__complect-item-btn {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            &:hover {
                &::after {
                    filter: brightness(0.9);
                }
            }

            * {
                transition: 0.7s color;
            }

            &,
            &-start {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            &-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 150px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &-start {
                width: 100%;
                align-items: center;
            }

            &-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                font-size: 24px;
                font-weight: 700;
                line-height: 24px;

                @media (max-width: $breakpoint-767) {
                    font-size: 18px;
                    gap: 4px;
                }

                b {
                    display: block;
                    font-weight: 700;
                    color: #40C574;
                }
            }

            &-text {
                font-family: Lato !important;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.86px;
                color: #575757;

                @media (max-width: $breakpoint-767) {
                    font-size: 13px;
                    line-height: normal;
                }
            }

            a {
                text-decoration: none;
            }

            &-btn {
                font-family: "Roboto Condensed";
                margin-top: -5px;
                display: flex;
                align-items: center;
                gap: 15px;

                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                color: #40C574;
                transition: 0.3s;
                user-select: none;
                cursor: pointer;

                @media (max-width: $breakpoint-767) {
                    font-size: 13px;
                    gap: 8px;
                }

                &:hover {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }

                &::after {
                    display: block;
                    content: "";
                    width: 34px;
                    height: 34px;
                    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='34' height='35' viewBox='0 0 34 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_b_14_327)'%3e%3crect width='34' height='34' rx='17' transform='matrix(-1 0 0 1 34 0.840088)' fill='%2340C574'/%3e%3cpath d='M11.75 17.8401H22.25' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M17 12.5901L22.25 17.8401L17 23.0901' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_b_14_327' x='-10' y='-9.15991' width='54' height='54' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeGaussianBlur in='BackgroundImageFix' stdDeviation='5'/%3e%3cfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_14_327'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_14_327' result='shape'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e ");
                    background-size: 97%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    transition: 0.6s;

                    @media (max-width: $breakpoint-767) {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }

    &__data {
        [data-item] {
            display: none;
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: 60px;

            @media (max-width: $breakpoint-767) {
                gap: 30px;
            }
        }
    }

    &__general {

        &,
        &-lazy {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .js-project-lazy {
            display: none;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 21px 24px;
            border: 1px solid #E6E6E6;
            border-radius: 15px;
            cursor: default;

            @media (max-width: $breakpoint-767) {
                flex-direction: column-reverse;
                padding: 20px;
            }

            &:hover {
                .project__general-item-title {
                    color: #40C574;
                }
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                max-width: 1093px;
            }

            &-title {
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                transition: 0.5s;
            }

            &-text {
                font-family: Lato !important;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.86px;
                color: #575757;
            }

            &-image {
                min-width: 253px;
                width: 253px;
                height: 94px;
                border-radius: 15px;
                overflow: hidden;

                @media (max-width: $breakpoint-767) {
                    width: 100%;
                    height: auto;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .js-load-general {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: calc(42px - 5px);

            @media (max-width: $breakpoint-767) {
                padding-top: 15px;
            }
        }

        .button {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            height: auto;
            padding: 1px 33.5px;
            background-color: var(--color-white);
            color: #40C574;
            width: max-content;

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.65;
            }
        }
    }

    &__variants {
        display: grid;
        grid-template-columns: repeat(3, calc(100% / 3 - 5px));
        gap: 5px;

        @media (max-width: 1400px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $breakpoint-767) {
            display: flex;
            gap: 10px;
            overflow-x: auto;
            margin-left: -15px;
            width: calc(100% + 15px * 2);
            padding: 0 15px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 30px;
            background-color: var(--color-white);
            border: 1px solid #E6E6E6;
            border-radius: 15px;

            @media (max-width: 1400px) {
                padding: 20px;
            }

            @media (max-width: $breakpoint-767) {
                min-width: 300px;

                a:has(button) button {
                    width: 100% !important;
                }
            }

            &-wrapper {
                display: flex;
                align-items: center;
                gap: 10px;

                @media (max-width: 1400px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            &-image {
                width: 272px;
                height: 170px;

                @media (max-width: 1400px) {
                    width: 100%;
                    max-width: 272px;
                    height: auto;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-title {
                display: flex;
                flex-direction: column;
                gap: 10px;

                font-size: 28px;
                font-weight: 600;
                line-height: 24px;

                @media (max-width: 1400px) {
                    font-size: 24px;
                    line-height: normal;
                    gap: 2px;
                }

                b {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 24px;
                    color: #40C574;

                    @media (max-width: 1400px) {
                        font-size: 20px;
                        line-height: normal;
                    }
                }
            }

            &-text {
                font-family: Lato !important;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.86px;
                color: #575757;

                @media (max-width: 1400px) {
                    font-size: 15px;
                    line-height: normal;
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 15px;

                &-title {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;
                }

                &-content {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &-item {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        font-family: Lato !important;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22.86px;
                        color: #575757;

                        @media (max-width: 1400px) {
                            font-size: 12px;
                            line-height: normal;
                            gap: 8px;
                        }

                        &::before {
                            display: block;
                            content: "";
                            min-width: 16px;
                            width: 16px;
                            height: 16px;
                            background-size: 98%;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_b_14_362)'%3e%3crect width='16' height='16' rx='8' transform='matrix(-1 0 0 1 16 0.340088)' fill='%2340C574'/%3e%3cpath d='M10.6663 6.34009L6.99967 10.0068L5.33301 8.34009' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_b_14_362' x='-10' y='-9.65991' width='36' height='36' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeGaussianBlur in='BackgroundImageFix' stdDeviation='5'/%3e%3cfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_14_362'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_14_362' result='shape'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e ");
                            transform: translateY(-2px);

                            @media (max-width: 1400px) {
                                width: 14px;
                                height: 14px;
                                min-width: 14px;
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .button {
                height: auto;
                padding: 1px 75px;
                width: max-content;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin: 0 auto;

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    .container-x {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
        max-width: 1530px;
        margin: 0 auto;

        @media (max-width: 1545px) {
            padding: 0 15px;
        }

        @media (max-width: 968px) {
            gap: 30px;
        }
    }

    .rparts,
    .rinfo,
    .rsteps {
        * {
            font-family: "FG" !important;
        }
    }

    .rinfo {
        * {
            &::selection {
                background-color: #ffffff2d;
            }
        }

        .rinfo__title {
            @media (min-width: 968px) {
                font-size: 45px;
                font-weight: 400;
                line-height: 45px;
            }
        }

        .rinfo__col {
            img {
                height: 423px;
            }
        }

        .rinfo__content {
            width: 100%;
            max-width: 461px;
        }
    }

    .rparts.rparts-mix {
        &::after {
            background-image: url(../../images/images/project/part/photo.png);
        }

        .rparts__title {
            @media (max-width: 968px) {
                font-size: 26px;
                font-weight: 300;
            }
        }

        .rparts__text {
            font-family: Lato !important;
            text-transform: none;

            @media (max-width: 968px) {
                font-size: 16px;
                line-height: normal;
                margin-top: 15px;
            }
        }

        @media (min-width: 968px) {
            padding: 60px 0;

            .container {
                width: 100%;
                max-width: 1530px;
                gap: 30px;
                padding: 0;

                @media (max-width: 1560px) {
                    padding: 0 30px;
                }
            }

            .rparts__title {
                width: 100%;
                max-width: 554px;

                font-size: 36px;
                font-weight: 400;
                line-height: 45px;
            }

            .rparts__text {
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin-top: 15px;
            }

            .rparts__group {
                grid-template-columns: 274px 280px 300px;
                gap: 10px;
            }

            .rparts__item {
                padding: 20px 30px;

                .rparts__item-text {
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 22.86px;
                }

                .rparts__item-title {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
        }

        .rparts__item {
            &:nth-child(1) {
                background-color: #14552D;

                * {
                    color: var(--color-white);
                }
            }

            &:nth-child(2) {
                background-color: #40C574;

                img {
                    filter: brightness(100);
                }

                * {
                    color: var(--color-white);
                }
            }
        }

        .button {
            height: auto;
            padding: 1px 45.5px;
            width: max-content;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;

            @media (max-width: 968px) {
                width: 100%;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    .rcatalog {
        padding: 0 15px;

        .catalog-item__image {
            max-height: 331px;
        }

        .catalog-item__footer {
            padding-top: 30px;
        }

        .catalog__item:not(:has(.block_price)) {
            height: 520px !important;

            .card_params {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: flex-start;
                padding-top: 14px;

                li {
                    position: relative;
                    width: 100%;
                    background-color: var(--color-white);

                    &::after {
                        display: none;
                    }

                    &:nth-child(1) {
                        order: 1;

                        &::before {
                            content: "Этажей";
                        }
                    }

                    &:nth-child(2) {
                        order: 2;

                        &::before {
                            content: "Расчетная площадь";
                        }
                    }

                    &:nth-child(3) {
                        order: 2;

                        &::before {
                            content: "Количество спален";
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        color: #A2A2A2;
                        font-family: Lato !important;
                        width: 100%;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22.86px;
                        background: none;
                    }

                    span {
                        font-family: Lato !important;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22.86px;
                        position: absolute;
                        text-align: right;
                        right: 0;
                        width: max-content;
                        color: var(--color-black);
                    }
                }
            }
        }
    }

    .rinfo.info--max {
        @media (min-width: $breakpoint-767) {
            .container {
                max-width: 1530px;

                @media (max-width: 1560px) {
                    padding: 0 30px;
                }
            }

            .rinfo__background {
                height: 100%;
                width: 100%;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }

    .rsteps {
        .rsteps__item {
            &:nth-child(1) {
                .rsteps__item-icon {
                    &::after {
                        filter: grayscale(1);
                    }
                }
            }
        }
    }

    .rparts {
        .container {
            max-width: 1530px;
        }
    }

    .rinfo.info--max {
        @media (min-width: $breakpoint-968) {
            .rinfo__title {
                font-size: 60px;
                font-weight: 400;
                line-height: 60px;
            }
        }
    }

    // .rcatalog-analogs {
    //     .catalog__item .name_block {
    //         padding-bottom: 15px !important;

    //         .area {
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             text-transform: none;
    //             height: 27px;
    //             width: max-content;
    //             font-size: 16px;
    //             font-weight: 400;
    //             line-height: 22.86px;
    //             padding: 0 12px !important;
    //             border-radius: 6px !important;
    //         }

    //         .name {
    //             font-size: 19.77px;
    //             font-weight: 700;
    //             line-height: 18px;
    //         }
    //     }

    //     .catalog-item__footer {
    //         padding: 20px 20px 24.5px;
    //     }
    // }

    .btn-max {
        @media (min-width: $breakpoint-767) {
            font-size: 18px !important;
            padding: 2px 52px !important;
        }
    }

    i {
        font-weight: 400;
    }

    @media (min-width: 767px) {
        .rcatalog__content .catalog__item .catalog-item__image img {
            height: auto;
        }
    }

    .catalog-houses {
        .rcatalog__title {
            @media (max-width: $breakpoint-767) {
                font-size: 24px;
                line-height: normal;
                text-align: center;
            }
        }

        .rcatalog__subtitle {
            @media (max-width: $breakpoint-767) {
                font-size: 16px;
                line-height: normal;
                text-align: center;
            }
        }
    }

}